body {
  font-family: Arial;
  color:white;
}

/* design hover effect for the rectangles */
.hover:hover {

  -webkit-transition-duration: 0.4s;
  transition-duration:0.4s;cursor:pointer;
  fill: #008B8B;
  stroke-width:0.1;
  fill-opacity:1
}

/* disable the text to ensure proper hovering */
.txt1 {
  pointer-events: none;
}

/* design hover effect for the circles */
.circle:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration:0.4s;
  cursor:pointer; fill: #008B8B;
  stroke-width:0.1; fill-opacity:1
  }

/* disable the text to ensure proper hovering */
.txt2 {
  pointer-events: none;
}

/* design the show/hide buttons */
.button {
  background-color:#333;
  color: #ddd;
  border: 2px solid #ddd;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:157px
}

/* design the hover effects for the show/hide buttons */
.button:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration:0.4s;
  background-color: #ddd;
  color: #333;
}

/* design the small action buttons */
.smallButton {
  background-color:#333;
  color: #ddd;
  border: 2px solid #ddd;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:120px
}

/* design the hover effects for the buttons */
.smallButton:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration:0.4s;
  background-color: #ddd;
  color: #333;
}

/* design the modal for the jQuery info boxes */
.hoverInfo  {
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:13cm;
    width:13cm;
    position:fixed;
    text-align:center;
    top:0;
    margin-top:8px;
    z-index:10000;
}
/* design a helper to display the box in the centre */
.hoverInfo .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
/* design the info box */
.hoverInfo > div {
    background-color:#333;
    font-family: Arial;
    box-shadow: 10px 10px 60px #555;
    color:white;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 10px 5%;
}

/* design the X button to close the modal */
.infoButton {
    background-color: #333;
    border: 3px solid #ddd;
    color:#ddd;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

/* design the hover effects for the X button */
.infoButton:hover {
    background-color: #ddd;
    color:#333;
    border: 3px solid #333;
}

/* design the slider */
.slider {
 -webkit-appearance: none;
 width: 440px;
 height: 15px;
 border-radius: 5px;
 background: #ddd;
 outline: none;
 -webkit-transition: .2s;
 transition: opacity .2s;
}

/* design the slider thumb*/
.slider::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 background: #778899;
 cursor: pointer;
}

.slider::-moz-range-thumb {
 width: 25px;
 height: 25px;
 border-radius: 50%;
 background: #778899;
 cursor: pointer;
}

span {
  font-weight:bold;
}
