body {
  font-family: Arial;
  color:white;
}

/* design the show/hide buttons */
.smallButton {
  background-color:#333;
  color: #ddd;
  border: 2px solid #ddd;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:80px
}

/* design the hover effects for the show/hide buttons */
.smallButton:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration:0.4s;
  background-color: #ddd;
  color: #333;
}
